*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 1rem;
}
h1,h2,h3,h4,h5,h6,p{
    margin: 0;
    padding: 0;
}
ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
    color: #000000;
}

.flex-container{
    display: flex;
    height: 100vh;
    // flex-direction: column;
    // justify-content: center;
    @media (min-width:19rem) and (max-width:50rem){
        &{
            flex-wrap: wrap;
            font-size: clamp(16px, 4vw, 18px);
        }    
    }
    .non-sliding-container{
        background-color: #f1f1f3;
        width: 50%;
        position: relative;

        @media (min-width:19rem) and (max-width:50rem){
            &{
                width: 100%;
                padding-bottom: 3em;
            }    
        }

        .upper-content{
            position: absolute;
            top: 0;
            left: 98%;
            z-index: 3;

            @media (min-width:19rem) and (max-width:50rem){
                &{
                    display: none;
                }    
            }

        }
        .mid-content{
            display: flex;

            @media (min-width:19rem) and (max-width:50rem){
                &{
                    flex-wrap: wrap;
                }    
            }
            
            .vertical-navbar{
                // display: flex;
                width: 20%;
                height: 90vh;
                position: relative;
                @media (min-width:19rem) and (max-width:50rem){
                    &{
                        width: 100%;
                        height: auto;
                        margin-block: 1em;        
                    }    
                }
                
                .list-group{
                    position: absolute;
                    top: 15em;
                    left: -160px;
                    display: flex;
                    transform: rotate(-90deg);
                    @media (min-width:19rem) and 
                    (max-width:50rem){
                        &{
                            transform: rotate(0deg);
                            position: static;
                            flex-wrap: wrap;
                            justify-content: space-evenly;
                            flex-grow: 1;
                        }    
                    }
                    .nav-list{

                        @media (min-width:19rem) and (max-width:50rem){
                            &{
                                flex-grow: 1;
                                flex-shrink: 1;
                                justify-self: flex-start;
                            }    
                        }

                        .nav-link{
                            padding: 1em;
                            font-size: 10px;

                            @media (min-width:19rem) and (max-width:50rem){
                                &{
                                    margin-inline: 1em;
                                }    
                            }
                        }
                    }

                }
            }

            .banner{
                display: flex;
                flex-direction: column ;
                align-items: flex-end;
                justify-content: center;
                text-align: end;
                padding-right: 2em;
                @media (min-width:19rem) and (max-width:50rem){
                    &{
                        justify-content: flex-start;
                        position: relative;
                        padding-left: 2em;
                        text-align: start;
                    }    
                }
                .title{
                    width: 60%;
                    margin-block: 1em;
                    font-size: clamp(16px, 10vw ,40px);
                    @media (min-width:19rem) and (max-width:50rem){
                        &{
                            width: 100%;
                        }    
                    }
                }

                .contact{
                    width: 80%;
                    margin-bottom: 1em;
                    .address{

                        @media (min-width:19rem) and (max-width:50rem){
                            &{
                                position: relative;
                                left: -25%;
                            }    
                        }
                    }
                }

                .para{
                    width: 70%;
                    margin-bottom: 1em;

                    @media (min-width:19rem) and (max-width:50rem){
                        &{
                            text-align: left;
                            width: 100%;
                        }    
                    }
                }

                .btn-group{

                    .btn{
                        padding: 1em;
                        border: none;
                        border-radius: 5px;
                        @media (min-width:19rem) and (max-width:50rem){
                            &{
                                
                                margin: 0.5em;
                            }    
                        }
                    }
                    .btn-white-outline{
                        border: 2px solid black;
                    }
                    .btn-black{
                        background-color: #000000;
                        color: #fff;
                    }
                }
            }
        }
        .lower-content{
            padding-left: 2em;
        }
    }
    .sliding-container{
        // background-color: bisque;
        width: 50%;
        background-color: #fff;
        position: relative;
        
        @media (min-width:19rem) and (max-width:50rem){
            &{
                width: 100%;
            }    
        }

        .slick-arrow{
            position: absolute;
            bottom: 30px;
            left: -20px;
            border: none;
            background-color: #00000000;

            display: flex;
            flex-direction: column;
            font-size: 18px;
            z-index: 3;
            @media (min-width:19rem) and (max-width:50rem){
                &{
                    top: -15px;
                }    
            }
            img{
                width: 30px;
            }
            &:hover{
                cursor: pointer;
            }
        }
        .slick-prev{
            bottom: 70px;
            left: -20px;
            @media (min-width:19rem) and (max-width:50rem){
                &{
                    left: 15px;
                }    
            }
        }
        .slick-next{
            @media (min-width:19rem) and (max-width:50rem){
                &{
                    left: 90%;
                }    
            }
        }

        .slider-item{
            padding: 4em 5em;
            @media (min-width:19rem) and (max-width:50rem){
                &{
                    padding: 1em;
                }    
            }
            .img-container{
                max-width: 400px;
                width: 75%;
                height: 500px;
                // border: 1px solid blue;
                overflow: hidden;

                @media (min-width:19rem) and (max-width:50rem){
                    &{
                        height: 400px;
                        width: 90%;
                    }    
                }
                
                img{
                    object-fit: fill;
                }
            }
        }
        .slick-dots{
            position: absolute;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-end;
            width: 90%;
            top: 6em;
            @media (min-width:19rem) and (max-width:50rem){
                &{
                    right: 2em;
                }    
            }

            li{
                button{
                    position: relative;
                    border: none;
                    font-size: 0%;
                    width: 5px;
                    height: 12px;
                    background-color: #00000000;

                    &::after{
                        content: "";
                        position: absolute;
                        width: 50%;
                        height: 50%;
                        top: 0;
                        top: 0;
                        background-color: #fff;
                        border: 1px solid #000000;
                        border-radius: 2px;
                    }
                }
            }
            
            .slick-active{
                button{
                    position: relative;
                    
                    &::after{
                        content: "";
                        position: absolute;
                        width: 50%;
                        height: 50%;
                        background-color: #000000;
                    }
                }
            }
        }
    }
}